#wrSaveForm #options-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
  }
  #wrSaveForm .selects {
      height: 30px;
      display: flex;
  }
  #wrSaveForm select {
      width: 120px;
  }
  #wrSaveForm .saveIcon {
    height: 25px;
    width: 25px;
    padding: 5px;
  }
  #wrSaveForm .arrow {
    height: 25px;
    width: 35px;
    margin: 0px 10px;
  }
  #wrSaveForm .selects button {
    background: white;
    margin-left: 10px;  
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 40px;
  }