#wrtranslator-container {
    position: fixed;
    z-index: 2147483000; /* http://stackoverflow.com/questions/491052/minimum-and-maximum-value-of-z-index */
}
#wrtranslator-container #wrtranslator-link {
    font-size: 14pt;
    color: blue;
    background-color: white;
    display: inline-block;
    padding: 20px;
    border: 2px solid blue;
    opacity: 0.2;
    text-decoration: none;
}
#wrtranslator-container #wrtranslator-link:hover {
    opacity: 0.4;
}
#wrtranslator-container #wrtranslator-link:active {
    opacity: 0.8;
}

